<div class = "mnd">
  <div id="backgroundchange" onclick="closeNav()">
        <div class="backgroundimg" id="back1"></div>
        <div class="backgroundimg" id="back2"></div>
        <div class="backgroundimg" id="back3"></div>
        <div class="backgroundimg" id="back4"></div>
        <div class="backgroundimg" id="back5"></div>
        <div class="backgroundimg" id="back6"></div>
    </div>
      <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<br>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>
      <div class = "glyph"><span class="glyphicon glyphicon-menu-hamburger" onmouseover="openNav()"></span></div>
       <div class = "search" onclick="closeNav()">
         <div class = "container-fluid">
         <div class = "row">
           <div class = "col-lg-6 col-lg-offset-3">
            <form>
              <input class="abc" onclick="closeNav()" type = "text" placeholder="Click for more information." spellcheck="off" [formControl] = "searchControl" #search/>

            <div class = "panel">
              <ul>
                <li>The results will display attractions near you.</li>
                <li>Upon selecting an attraction, you can view their prices.</li>
                <li>{{lat}}</li>
              </ul>
            </div>
            <input type = "submit" style = "display: none;"/>
          </form>
          </div>
          </div>
        </div>

        </div>
</div>
